# .env.example
ENVIRONMENT=development
TARGET_IP=10.x.x.x
API_PORT=8080
# Do not put real keys here!
NOTIFICATOR_API_KEY=your_api_key_here


# Local development IPs, Cloud Shell, and ML Notification services
TRUSTED_IP_WHITELIST = 10.x.x.x,10.x.x.x,10.x.x.x
TOPIC_NAME = topic-name